body{
    background-color: #e6dff0;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#TestScreen{
    margin-top: 40px;
    font-family: 'Archivo', sans-serif;;
    text-align: center;
    display: inline-block;
    color: white;
    margin-left: 0px;
    background-color: rgb(43,135,209);
    height: 65vh;
    width: 100%;
    padding-top: 100px;
    cursor: crosshair;
}
#target{
    max-width: 114px;
    max-height: 114px;
}
#RemainingTargets{
    transform: translateY(-100px);
    font-size: 30px;
}
#TestScreen h1{
    font-weight: 600;
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 5px;
}
#TestScreen h2{
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 50px;
}
#TestScreen h3{
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 22px;
}
#retryBtn {
    font-weight: 600;
    background-color: rgb(255,209,84);
    border: none;
    color: black;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    font-size: 17.5px;
    opacity: 0.8;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#retryBtn:hover {
    opacity: 1;
}