body{
    background-color: #e6dff0;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#TestScreen{
    margin-top: 40px;
    font-family: 'Archivo', sans-serif;;
    text-align: center;
    display: inline-block;
    color: white;
    margin-left: 0px;
    background-color: rgb(43,135,209);
    height: 65vh;
    width: 100%;
    padding-top: 100px;
    cursor: crosshair;
}
#target{
    max-width: 114px;
    max-height: 114px;
}

#TestScreen h1{
    font-weight: 600;
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 5px;
}
#TestScreen h2{
    margin-top: 0px;
    font-weight: 600;
    font-size: 60px;
}
#TestScreen h3{
    font-weight: 100;
    font-size: 22px;
}